#tableSuratJalan td,
#tableSuratJalan th {
    text-align: left;
}

#btnResendEmail {
    background-color: #ff7f07;
    color: #fff;
    border: 1px solid #e0a800;
    transition: all 0.3s ease;
}

#btnResendEmail:hover {
    background-color: #e66f00; /* lebih gelap */
    transform: translateY(-1px); /* sedikit naik */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* efek shadow */
}


#btnFoto {
    display: block;
    width: 100%;
    margin-top: 15px;
    background: linear-gradient(135deg, #2563eb, #1d4ed8);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
}

#btnFoto:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(37, 99, 235, 0.35);
    background: linear-gradient(135deg, #1d4ed8, #1e40af);
}

#btnFoto:active {
    transform: translateY(0);
}

.camera-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.7);
    z-index: 99999;

    justify-content: center;
    align-items: center;
}

.camera-box {
    background: white;
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#cameraVideo {
    width: 700px;
    max-width: 90vw;

    border-radius: 10px;
    border: 1px solid #ddd;
}

.camera-action {
    margin-top: 15px;

    display: flex;
    gap: 10px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#tableSuratJalan {
    min-width: 1100px;
}

#tableSuratJalan td,
#tableSuratJalan th {
    white-space: nowrap;
    vertical-align: middle;
}

#tableSuratJalan td:first-child {
    white-space: normal;
    min-width: 250px;
}

@media (max-width: 768px) {

    #tableSuratJalan {
        min-width: 1100px;
        font-size: 12px;
    }

    .card-body {
        padding: 10px;
    }

    #cameraVideo {
        width: 100%;
    }
}


/*Preview gambar*/
.preview-image {
    cursor: pointer;
}

.preview-item {
    position: relative;
    width: 90px;
    height: 90px;
}

.preview-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.delete-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}
